
DemojBPMCore/bin/

DemojBPMCore/.classpath

DemojBPMCore/.project

DemojBPMCore/.settings/

DemojBPMProcessEJB/.classpath

DemojBPMProcessEJB/.project

DemojBPMProcessEJB/.settings/

DemojBPMProcessEJB/build/
